/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlightedText {
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
  width: 100%;
}

.highlightedText h2 {
  margin-top: 0.75rem;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .highlightedText {
    max-width: 100%;
    padding: 0 1rem;
  }
}
